apiVersion: v1
kind: Service
metadata:
  name: devops-app-service
  namespace: devops
  labels:
    app: devops-app
spec:
  type: LoadBalancer
  selector:
    app: devops-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      name: http

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: devops
data:
  DB_URL: "jdbc:mysql://mysql-service:3306/devopsdb"

---
apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
  namespace: devops
type: Opaque
stringData:
  username: root
  password: password
